---
layout: page
title: Projects
breadcrumb: Projects
tags:
- projects
- mkmatter
- bot-template

---
{% assign projectsdir = site.data.projectsdir %}
<h1>Projects</h1>

<div class="block">
    <div class="px-3">
        <div class="card-header">
            <h2>User/Org Links</h2>
        </div>
        <div class="px-3 card-body">
            <div class="container-fluid">

                {% assign gits = site.data.gits %}
                <h3>GitHub</h3>
                <div class="buttons px-6">
                    {% for repo in gits.services.GitHub %}
                    <a type="button" href="{{ repo.url }}" class="button">
                        <span class="pr-2">
                            <i class="fa-brands fa-github fa-2x"></i>
                        </span>
                        {{ repo.name }}
                    </a>
                    {% endfor %}
                </div>
                <h3>GitLab</h3>
                <div class="buttons px-6">
                    {% for repo in gits.services.GitLab %}
                    <a type="button" href="{{ repo.url }}" class="button">
                        <span class="pr-2">
                            <i class="fa-brands fa-gitlab fa-2x"></i>
                        </span>
                        {{ repo.name }}
                    </a>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    <div class="bg-dark-gray py-6">
        <div class="card-header">
            <h2>Projects</h2>
        </div>
        <div class="row">
            <div class="container is-flex is-fluid">
                <div class="grid offset-md-1">
                    {% for project in projectsdir %}
                    {% assign project2 = project[1] %}
                    <div class="panel">
                        <div class="card ">
                            <div class="card-header">
                                <a class="card-link">
                                    <h2>{{ project2.name }}</h2>
                                </a>
                            </div>
                            <div class="card-body">
                                <h4>Description</h4>
                                <p>{{ project2.desc }}</p>
                                <a class="button is-size-5" href="{{project2.project_page}}">Project Page</a>
                                <a class="button is-size-5" href="{{project2.portfolio_page}}">Portfolio Page</a>
                                <h4>Links</h4>
                                <div class="buttons">
                                {% for link in project2.links %}
                                <a class="button" href="{{ link.url }}">{{ link.name }}</a>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
