---
title: Portfolio
permalink: /portfolio/index.html
layout: page-nosidebar
---
<div class="card-columns">
    {% assign projects = site.data.projects | get_projects_from_files | sort:'date' %}
    {% for project in projects reversed %}
    <!-- portfolio-item -->

    <div class="card bg-dark">
        <div class="card-body">
            <h2>{{ project.title }}</h2>
            <div>
                <div class="badge-success badge-pill w-75"><a href="{{ project.href }}">Project Page</a></div>
            </div>
            <p class="card-text">{{ project.description }}</p>
        </div>

        <ul class="list-group list-group-flush bg-dark">
            {% for technology in project.technology %}
            <li class="list-group-item bg-dark">
                <h4>{{ technology.name }}</h4>
                <small class="badge badge-success">{{technology.type}}</small>
            </li>
            {% endfor %}
        </ul>
        <div class="card-body">
            {% for link in project.links %}
            <a href="{{link.url}}" class="card-link">{{ link.title }}</a>
            {% endfor %}
        </div>
    </div>
    <!--<a href="/{{ project.dir }}">-->

    <!--</a>-->
    <!-- portfolio-item -->
    {% endfor %}

</div>