---
title: Resume
layout: page-nosidebar
breadcrumb: Resume
categories:
- resume
- pages
tags:
- resume
- pages
---

<div id="resume">

  <div class="row d-flex">
    <div class="col-md-8" id="xp-edu-prohob">
      <h1 class="section-header">EXPERIENCE</h1>
      <div class="list-group ml-4" id="xp">
        <div class="list-group-item bg-dark-gray">
          <h3 class="xp-position">Target Warehouse Associate</h3>
          <small class="xp-location">Wilton, NY</small>
          <span class="xp-location">&nbsp;|&nbsp;</span>
          <small class="xp-duration">July 2024 &mdash; Present</small>
          <div class="xp-desc">
            <ul>
              <li>Operate a pallet jack</li>
              <li>Operate Android based Zebra scanners</li>
            </ul>
          </div>
        </div>
        <div class="list-group-item bg-dark-gray">
          <h3 class="xp-position">ADUSA &mdash; Production Associate / Sanitation Associate</h3>
          <small class="xp-location">Schodack Landing, NY</small>
          <span class="xp-location">&nbsp;|&nbsp;</span>
          <small class="xp-duration">August 2023 &mdash; March 2024</small>
          <div class="xp-desc">
            <ul>
              <li>Clean up spills</li>
              <li>Create pallets of product for shipment to stores in the network</li>
              <li>Use a ridable floor scrubbing machine, and sweeper</li>
              <li>Maintain rapport with Maintenance to consult on possible fixes or enhancements</li>
              <li>Occasionally perform routine maintenance on said machines</li>
            </ul>
          </div>
        </div>
        <div class="list-group-item bg-dark-gray">
          <h3 class="xp-position">Lowe's Home Improvement &mdash; Overnight Receiver/Stocker / Forklift Operator</h3>
          <small class="xp-location">Saratoga Springs, NY</small>
          <span class="xp-location">&nbsp;|&nbsp;</span>
          <small class="xp-duration">February 2020 &mdash; August 2023</small>
          <div class="xp-desc">
            <ul>
              <li>Stock shelves</li>
              <li>Receive shipments</li>
              <li>File away bill of lading for received trucks</li>
            </ul>

          </div>
        </div>
        <div class="list-group-item">
          <h3 class="xp-position">Price Chopper &mdash; Customer Service &lsquo;Teammate&rsquo;</h3>
          <small class="xp-location">Saratoga Springs, Malta, Glenville NY</small>
          <span class="xp-location">&nbsp;|&nbsp;</span>
          <small class="xp-duration">February 21st 2015 — February 2018</small>
          <span class="xp-location">&nbsp;|&nbsp;</span>
          <small class="xp-duration">February 2018 — 2019</small>
          <span class="xp-location">&nbsp;|&nbsp;</span> 
          <small class="xp-duration">2019 — January 2020</small>
          <div class="xp-desc">
            <ul>
              <li>Handle Cash - Process cash transactions at self-service attendant station, or at full-service registers, bag items safely, and promptly</li>
              <li>Process Western Union - receive large amounts of currency and use computer systems to document and wire currency to a third party.</li>
              <li>Process Lottery transactions - Input Transactions, Bets, Tickets, Print EoD Reports</li>
              <li>Ledger Balancing - ensure the cash drawers are stocked and accurately counted at End-Of-Day</li>
              <li>Phone Use - Speaking effectively</li>
              <li>Process Complaints &amp; refunds</li>
              <li>Supervise Cashiers - including overriding prices, merchandise voiding, Alcohol &amp; Tobacco purchases.</li>
            </ul>
          </div>

        </div>
        <div class="list-group-item bg-dark-gray">
          <h3 class="xp-position">Dollar Tree &mdash; Sales Associate</h3>
          <small class="xp-location">Saratoga Springs, NY</small>
          <span class="xp-location">&nbsp;|&nbsp;</span>
          <small class="xp-duration">October 2014 &mdash; April 2015</small>
          <p class="xp-desc">Cash Handling, Janitorial</p>
        </div>
        <div class="list-group-item bg-dark-gray">
          <h3 class="xp-position">Dollar Tree &mdash; Sales Associate</h3>
          <small class="xp-location">Saranac Lake, NY</small>
          <span class="xp-location">&nbsp;|&nbsp;</span>
          <small class="xp-duration">October 2013 - May 2014</small>
          <p class="xp-desc">Cash Handling, Janitorial</p>
        </div>

      </div>
      <h1 class="section-header">EDUCATION</h1>
      <div id="edu" class="list-group ml-4 bg-dark-gray">
        <div class="list-group-item bg-dark-gray">
          <h3>Saranac Lake High School, Saranac Lake, NY &mdash; Regents Diploma</h3>
          <small class="edu-duration">September 2005 — June 2010</small>
          <p class="edu-major">General Studies, Vocational Studies being Automotive Technology</p>
        </div>
      </div>
      <!--<h1 class="section-header"> PROJECTS / HOBBIES</h1>
      <div class="prohob">
        <div class="list-group ml-4 bg-dark-gray">
          {% for prohob in site.data.resume.prohobs %}
          <div class="">
          </div>
          {% endfor %}
        </div>
      </div>-->
    </div>
    <div class="col-md-4 float-right" id="resume-sidebar">
      <div class="" id="contact">
        <div class="pb-1 pt-1">
          <h5 class="">CONTACT</h5>
          <ul class="list-unstyled">
            <li class="contact-name">Ken Spencer</li>
            <li class="contact-email">me@iotaspencer.me</li>
            <li class="contact-email">ken.iota.spencer@gmail.com</li>
            <li class="contact-telephone">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
          </ul>
        </div>
        <div id="xtra-contact-bits">
          <div class="pb-1 pt-1">
            <h5>NOTES</h5>
            <ul class="list-unstyled">
              <li>This resume and site was built using Jekyll, Ruby, Liquid, Python</li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <h5 class="">SKILLS</h5>
        <ul class="list-bullet">
          {% for skill in site.data.resume.skills %}
            <li>{{skill}}</li>
          {% endfor %}
        </ul>
        <h5>LANGUAGES</h5>
        <small>(in order of fluency)</small>
        <ul class="pt-2">
          {% for lang in site.data.resume.languages %}
          <li>{{lang}}</li>
          {% endfor %}
        </ul>
        <h5>TECHNOLOGY BASED EXPERIENCE</h5>
        <div class="d-inline-flex flex-wrap">
          <ul class="pt-2">
            {% for xp in site.data.resume.tech_skills %}
            <li class="px-1">{{ xp.name }} <span class="badge text-bg-dark rounded-pill">{{xp.years}}</span></li>
            {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
</div>