{% unless page.hide-breadcrumbs %}
  <ol class="breadcrumb bg-dark">
    <li class="breadcrumb-item pl-2 pr-1"><a href="/"><i class="fas fa-home" title="{{site.title}}"></i></a></li>
    {% assign crumbs = page.url | split: '/' %}
    {% for crumb in crumbs offset:1 %}
      <li class="breadcrumb-item{% if forloop.last %} active {% endif %}">
        {% unless forloop.last %}
          <a href="/{% for crumb in crumbs offset:1 limit:forloop.index %}{{crumb}}/{% endfor %}">
            {{ crumb | capitalize }}
          </a>
        {% else %}
          {{ crumb }}
        {% endunless %}
      </li>
    {% endfor %}
  </ol>
{% endunless %}