<footer class="footer">
  <div class="bulma-container">
      {% if site.footer_menu %}
          <div class="bulma-columns bulma-is-multiline">
              {% for item in site.data[site.footer_menu] %}
                  <div class="bulma-column bulma-has-text-centered">
                      <div>
                          <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                      </div>
                  </div>
              {% endfor %}
          </div>
      {% endif %}

      {% include follow.html %}

      <div class="bulma-content bulma-is-small bulma-has-text-centered">
            <p class="bulma-has-text-grey">
                <a href="{{ site.url | relative_url }}">{{ site.title }}</a> &copy; {{ site.time | date: '%Y' }}.
                <!-- <a href="{{ site.url | relative_url }}/privacy.html">Privacy Policy</a> -->
                &nbsp;|&nbsp;
                <!-- <a href="{{ site.url | relative_url }}/terms.html">Terms of Service</a> -->
                <span>Theme by <a href="https://www.csrhymes.com">C.S. Rhymes</a></span>
            </p>
      </div>
  </div>
</footer>