<footer id="footer-distributed" class="footer-distributed">
    <div class="container">
        <div class="footer">
            <p>{{site.author}} &copy; {{site.year}}</p>
            {% include links.html %}
        </div>
    </div>
</footer>

<script>
    /*
    $('body').flowtype({
        minFont: 12,
        maxFont: 18
    }),
    $('span.navbar-brand').flowtype({
        minFont: 18,
        maxFont: 22
    }),
    $('.post-title').flowtype({
        minFont: 16,
        maxFont: 20
    })
    */
</script>
</body>

</html>