{% if site.tags != "" %} {% include collecttags.html %} {% endif %}

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>{{ site.name }}{% if page.title %} | {{ page.title }} {% endif %}</title>
    <meta name="theme-color" content="#222222" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--
    <script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
    -->
    <script src="{{ '/assets/js/header.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/toc.js' | relative_url }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <link href="{{ '/assets/css/theme.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/syntax.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/font-awesome/css/font-awesome.min.css' | relative_url }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> {% if page.title == 'resume' %}
    <link href="{{ '/assets/css/resume.scss' | relative_url }}" rel="stylesheet"> {% endif %}
  </head>

  <body>

    {% include google-analytics.html %} {% include yandex-metrica.html %}

    <script type="text/javascript">
      WebFontConfig = {
        google: {
          families: ['Ubuntu::latin']
        }
      };
      (function () {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>

    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ '' | relative_url }}/">
            {{ site.name }}
            <br />
            <small>
              <sub>{{ site.description }}</sub>
            </small>
          </a>

        </div>
        <div id="navbar" class="collapse navbar-collapse justify-content-end">
          <ul class="nav navbar-nav">
            <li>
              <a href="{{ '' | relative_url }}/">/home</a>
            </li>
            <li>
              <a href="{{ 'about' | relative_url }}">/about</a>
            </li>
            <li>
              <a href="{{ 'tags' | relative_url }}">/tags</a>
            </li>
            <li>
              <a href="{{ 'archive' | relative_url }}">/archive</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>