{% if site.tags != "" %} {% include collecttags.html %} {% endif %}
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>{{ site.name }}{% if page.title %} | {{ page.title }} {% endif %}</title>
    <meta name="theme-color" content="#222222" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ '/favicon.png' | relative_url }}">
    <script>
      FontAwesomeConfig = {
        searchPseudoElements: true
      };
    </script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

    <script src="{{ '/assets/js/header.js' | relative_url }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ '/assets/css/theme.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/themes/vs.css' | relative_url }}" rel="stylesheet">
    <link rel="manifest" href="/manifest.json" />
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
    <script>
      var OneSignal = window.OneSignal || [];
      OneSignal.push(function () {
        OneSignal.init({
          appId: "24b58b08-c7c8-4c50-98e1-e82fd7d7f03f",
          autoRegister: false,
          notifyButton: {
            enable: true,
          },
        });
      });
    </script>
  </head>

  <body data-spy="scroll">
    {% include google-analytics.html %} {% include yandex-metrica.html %}
    <script type="text/javascript">
      WebFontConfig = {
        google: {
          families: ['Ubuntu::latin']
        }
      };
      (function () {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
    <header id="header">
      <nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
        <a class="navbar-brand" href="{{ '' | relative_url }}/">{{ site.name }}</a>
        <span class="navbar-text text-small mr-1">
          <sub>{{ site.description }}</sub>
        </span>
        <div class="bg-dark navbar-toggle navbar-toggler justify-content-end" data-toggle="collapse" data-target="#navbar">
          <span class="center-image col-12">
            <i class="fas fa-angle-double-down"></i>
          </span>
        </div>
        <div id="navbar" class="navbar-collapse collapse justify-content-end">
          <ul class="nav navbar-nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="{{ '' | relative_url }}/">/home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ 'about' | relative_url }}">/about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ 'tags' | relative_url }}">/tags</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ 'archive' | relative_url }}">/archive</a>
            </li>
            <!--<li class="nav-item">
            <a class="nav-link" href="{{'resume' | relative_url }}">/resume</a>
          </li>-->
            <li class="nav-item">
              <a class="nav-link" href="{{'projects' | relative_url }}">/projects</a>
            </li>

          </ul>
        </div>
      </nav>
    </header>
    <div id="between">