<section
    class="bulma-hero {% if page.hero_height %} {{ page.hero_height }} {% else %} bulma-is-medium {% endif %} bulma-is-bold bulma-is-primary"
    style="{% if page.hero_image %}background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover;
    {% endif %}{% if page.hero_style %}{{ page.hero_style }}{% endif %}">
    <div class="bulma-hero-body {% if page.hero_darken %} bulma-hero-darken {% endif %}">
        <div class="bulma-container">
            <h1 class="bulma-title bulma-is-2">{{ page.title }}</h1>
            <p class="bulma-subtitle bulma-is-3">{{ page.subtitle }}</p>
            {% if page.hero_link %}
                <div class="bulma-my-4">
                    <a href="{{ page.hero_link | relative_url }}" class="bulma-button bulma-is-info bulma-is-large">
                        {{- page.hero_link_text -}}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</section>