<div on-tap="followme();" onclick="followme();">
  <h6>Follow me</h6>

  <div class="modal-lg fade" id="myModal" onload="$(this).hide(); $(this).css('display', 'none');" hidden>
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
              <iframe src="https://www.youtube.com/embed/0Gjx-ZQuQ_Y?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>


</div>

<ul class="social-media">
  {% if site.social.twitter %}
  <li>
    <a title="@{{ site.social.twitter}} on Twitter" href="https://twitter.com/{{site.social.twitter}}" target="_blank">
      <i class="fab fa-twitter fa-2x"></i>
    </a>
  </li>
  {% endif %} {% if site.social.github %}
  <li>
    <a title="{{ site.social.github }} on Github" href="https://github.com/{{ site.social.github }}" target="_blank">
      <i class="fab fa-github fa-2x"></i>
    </a>
  </li>
  {% endif %} {% if site.social.tel %}
  <li>
    <a title="Call {{site.name}} via Telephone" href="tel:{{ site.social.tel }}" target="_blank">
      <i class="fas fa-phone fa-2x"></i>
    </a>
  </li>
  {% endif %} {% if site.social.discord %}
  <li>
    <a title="Talk to {{site.name}} on Discord" href="#">
      <i class="fab fa-discord fa-2x"></i>
    </a>
  </li>
  {% endif %}
  <!--
  {% if site.social.stackoverflow %}
    <li>
      <a title="{{ site.social.stackoverflow }} on StackOverflow" href="https://stackoverflow.com/users/{{ site.social.stackoverflow }}" target="_blank"><i class="fa fa-stack-overflow fa-2x"></i></a>
    </li>
  {% endif %}

  {% if site.social.linkedin %}
    <li>
      <a title="{{ site.social.linkedin }} on LinkedIn" href="https://www.linkedin.com/in/{{ site.social.linkedin }}" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
    </li>
  {% endif %}

  {% if site.social.instagram %}
    <li>
      <a title="{{ site.social.instagram }} on Instagram" href="https://instagram.com/{{ site.social.instagram }}" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
    </li>
  {% endif %}

  {% if site.social.lastfm %}
    <li>
      <a title="{{ site.social.lastfm }} on Last.fm" href="https://www.lastfm.com/user/{{ site.social.lastfm }}" target="_blank"><i class="fa fa-lastfm fa-2x"></i></a>
    </li>
  {% endif %} -->
  {% if site.social.rss %}
  <li>
    <a title="{{ site.social.rss }} RSS" href="{{ site.social.rss | relative_url }}" target="_blank">
      <i class="fas fa-rss fa-2x"></i>
    </a>
  </li>
  {% endif %}
  <li>
    <a title="My GNUPG Key" href="/gnupg" target="_blank">
    <i class="fas fa-key fa-2x"
    </a>
  </li>

</ul>
<script>
  function followme() {
  $(document).ready(
    function () {

      $('#myModal').modal('show')
    }
  )
}
</script>