<nav class="navbar navbar-dark bg-dark navbar-expand-md mb-3">
  <a class="navbar-brand" href="{{ '' | relative_url }}/">{{ site.name }}</a>
  <p class="navbar-text small mr-1">{{ site.description }}</p>
  <div class="bg-dark navbar-toggle justify-content-end d-md-none" data-toggle="collapse" data-target="#navbar">
      <button class="bg-dark py-2 px-3 border border-1 border-secondary rounded">
          <i class="fas fa-bars"></i>
      </button>
  </div>
  <div id="navbar" class="navbar-collapse collapse justify-content-end">
    <ul class="nav navbar-nav justify-content-end">
      {% for item in site.data.navigation %}
        {% if item.dropdown %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ item.link | relative_url }}" data-bs-toggle="dropdown">{{ item.name }}</a>
            <div class="dropdown-menu dropdown-menu-right bg-dark">
              {% for subitem in item.dropdown %}
                <a class="dropdown-item" href="{{ subitem.link | relative_url }}">
                  {{ subitem.name }}
                </a>
              {% endfor %}
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ item.link | relative_url }}">{{ item.name }}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% comment %}
        <!-- <li class="nav-item dropdown" id="portfolio-dropdown">
          <a class="nav-link dropdown-toggle" href="{{ 'portfolio' | relative_url }}" data-bs-toggle="dropdown">/portfolio</a>
          <div class="dropdown-menu dropdown-menu-right bg-dark">
            <a class="dropdown-header" href="/portfolio/">Portfolio Page</a>
            <div class="dropdown-divider" style="border-color: darkgreen;"></div>
            {% for item in site.data.navbar %}
              <a class="dropdown-item" title="{{ item.title }}" href="{{ item.path }}">
                {{ item.name }}
                {% for badge in item.badges %}<small><span class="badge badge-dark text-green">{{ badge }}</span></small>{% endfor %}
              </a>
            {% endfor %}
          </div>
        </li> -->

      {% endcomment %}
    </ul>
  </div>
</nav>


