{% if page.share != false %}
<div class="d-flex justify-content-center">
<div class="justify-content-center text-center fa-2x">
  <div class="hstack" style="">
    {% if site.share.facebook %}
      <a class="btn share-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url | append: page.url}}" target="_blank" title="Share on Facebook">
        <span class="fa-layers fa-fw fa-2x">
          <i class="fas fa-circle" style="color:#3b5998;"></i>
          <i class="fa-inverse fab fa-facebook-f" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    {% endif %} {% if site.share.twitter %}
      <a class="btn share-twitter" href="https://twitter.com/intent/tweet?url={{ site.url | append: page.url }}&text={{page.title}}" target="_blank" title="Tweet">
        <span class="fa-layers fa-fw fa-2x">
          <i class="fas fa-circle" style="color:#326ada"></i>
          <i class="fa-inverse fab fa-twitter" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    {% endif %} 
    {% if site.share.gplus %}
      <a class="btn share-google-plus" href="https://plus.google.com/share?url={{ site.url | append: page.url}}" target="_blank" title="Share on Google Plus">
        <span class="fa-layers fa-fw">
          <i class="fas fa-circle" style="color:Tomato"></i>
          <i class="fa-inverse fas fa-times" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    {% endif %} 
    {% if site.share.linkedin %}
      <a class="btn share-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url | append: page.url }}&title={{page.title}}&summary={{page.description}}&source="
        target="_blank" title="Share on LinkedIn">
        <span class="fa-layers fa-fw fa-2x">
          <i class="fas fa-circle" style="color:Tomato"></i>
          <i class="fa-inverse fas fa-times" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    {% endif %} 
    {% if site.share.pinterest %}
      <a class="btn share-pinterest" href="http://pinterest.com/pin/create/button/?url{{ site.url | append: page.url }}=&description={{page.description}}"
        target="_blank" title="Pin it">
        <span class="fa-layers fa-fw fa-2x">
          <i class="fas fa-circle" style="color:Tomato"></i>
          <i class="fa-inverse fas fa-times" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    {% endif %} 
    {% if site.share.email %}
      <a class="btn share-envelope" href="mailto:?&subject={{page.title}}&body={{page.description | append: ' ' | append: site.url | append: page.url}}" target="_blank"
        title="Email">
        <span class="fa-layers fa-fw fa-2x">
          <i class="fas fa-square"style="color:gray"></i>
          <i class="fa-inverse fas fa-envelope" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    {% endif %} {% if site.share.reddit %}
      <a class="btn share-reddit" href="https://reddit.com/submit?url={{ page.url |absolute_url }}" target="_blank" title="Submit to Reddit">
        <span class="fa-layers fa-fw fa-2x">
          <i class="fas fa-circle" style="color:white;"></i>
          <i class="fab fa-reddit" data-fa-transform="shrink-6" style="color:Tomato"></i>
        </span>
      </a>
    {% endif %}
    {% if site.share.bsky %}
        <a class="btn share-bsky" href="https://bsky.app/intent/compose?text={{page.title}}%20—%20{{ site.url | append: page.url }}" target="_blank" title="Share on BlueSky">
          <span class="fa-layers fa-fw fa-2x">
            <i class="fa-brands fa-bluesky" style="color:#3b5998;"></i>
            <i class="fa-inverse"></i>
          </span>
        </a>
    {% endif %}
    {% if site.share.mastodon %}
        <a class="btn share-mastodon" href="https://mastodon.social/share?text={{page.title}} — {{ site.url | append: page.url }}" target="_blank" title="Share on Mastodon">
          <span class="fa-layers fa-fw fa-2x">
            <i class="fa-brands fa-mastodon" style="color:#3b5998;"></i>
            <i class="fa-inverse"></i>
          </span>
        </a>
    {% endif %}
    {% if site.share.tiktok %}
        <a class="btn share-tiktok" href="https://www.tiktok.com/share?url={{ site.url | append: page.url }}" target="_blank" title="Share on TikTok">
          <span class="fa-layers fa-fw fa-2x">
            <i class="fa-brands fa-tiktok" style="color:#3b5998;"></i>
            <i class="fa-inverse"></i>
          </span>
        </a>
    {% endif %}
    {% if site.share.whatsapp %}
      <a class="btn share-whatsapp" href="whatsapp://send?text={{ page.title }} {{ site.url | append: page.url }}" target="_blank" title="Share on WhatsApp">
        <span class="fa-layers fa-fw fa-2x">
          <i class="fas fa-circle" style="color:#25D366;"></i>
          <i class="fa-inverse fab fa-whatsapp" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    {% endif %} 
    {% if site.share.telegram %}
      <a class="btn share-telegram" href="https://telegram.me/share/url?url={{ site.url | append: page.url }}&text={{page.title}}" target="_blank" title="Share on Telegram">
        <span class="fa-layers fa-fw fa-2x">
          <i class="fas fa-circle" style="color:#0088cc;"></i>
          <i class="fa-inverse fab fa-telegram" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    {% endif %} 
    {% if site.share.discord %}
      <a class="btn share-discord" href="https://discord.com/share?url={{ site.url | append: page.url }}" target="_blank" title="Share on Discord">
        <span class="fa-layers fa-fw fa-2x">
          <i class="fas fa-circle" style="color:#7289DA;"></i>
          <i class="fa-inverse fab fa-discord" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    {% endif %} 
    {% if site.share.signal %}
      <a class="btn share-signal" href="sms:?&body={{ page.title }} {{ site.url | append: page.url }}" target="_blank" title="Share on Signal">
        <span class="fa-layers fa-fw fa-2x">
          <i class="fas fa-circle" style="color:#3CB371;"></i>
          <i class="fa-inverse fab fa-signal" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    {% endif %} 
    {% if site.share.viber %}
      <a class="btn share-viber" href="viber://forward?text={{ page.title }} {{ site.url | append: page.url }}" target="_blank" title="Share on Viber">
        <span class="fa-layers fa-fw fa-2x">
          <i class="fas fa-circle" style="color:#7F00FF;"></i>
          <i class="fa-inverse fab fa-viber" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    {% endif %} 
    {% if site.share.copy %}
      <a class="btn share-copy" href="javascript:void(0)" onclick="copyToClipboard('{{ site.url | append: page.url }}')" title="Copy to clipboard">
        <span class="fa-layers fa-fw fa-2x">
          <i class="fas fa-circle" style="color:#c99a00;"></i>
          <i class="fa-inverse fas fa-copy" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    {% endif %} 
      <script>
        const shareData = {
          title: "{{ page.title }}",
          text: "{{ page.excerpt }}",
          url: "{{ site.url + '/' + page.url }}",
      };
      
        const btn = document.querySelector("a#share-other");
        const resultPara = document.querySelector("#result");
      
        // Share must be triggered by "user activation"
        btn.addEventListener("click", async () => {
          try {
            await navigator.share(shareData);
            resultPara.textContent = "{{ page.title }} shared successfully";
          } catch (err) {
            resultPara.textContent = `Error: ${err}`;
          }
        });
      </script>    
      <a class="btn text-nowrap" id="share-other">Share this page!</a>
      <p id="result"></p>

    </div>
  </div>
</div>
{% endif %}