{% if page.share != false %}
<div class="d-flex justify-content-center">
<div class="justify-content-center text-center fa-2x">
  <ul class="list-group list-group-horizontal" style="list-style:none;">
    {% if site.share.facebook %}
    <li class="share-facebook">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url | append: page.url}}" target="_blank" title="Share on Facebook">
        <span class="fa-layers fa-fw">
          <i class="fas fa-circle" style="color:#3b5998;"></i>
          <i class="fa-inverse fab fa-facebook-f" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    </li>
    {% endif %} {% if site.share.twitter %}
    <li class="share-twitter">
      <a href="https://twitter.com/intent/tweet?url={{ site.url | append: page.url }}&text={{page.title}}" target="_blank" title="Tweet">
        <span class="fa-layers fa-fw">
          <i class="fas fa-circle" style="color:#326ada"></i>
          <i class="fa-inverse fab fa-twitter" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    </li>
    {% endif %} 
    {% if site.share.gplus %}
    <li class="share-google-plus">
      <a href="https://plus.google.com/share?url={{ site.url | append: page.url}}" target="_blank" title="Share on Google Plus">
        <span class="fa-layers fa-fw">
          <i class="fas fa-circle" style="color:Tomato"></i>
          <i class="fa-inverse fas fa-times" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    </li>
    {% endif %} 
    {% if site.share.linkedin %}
    <li class="share-linkedin">
      <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url | append: page.url }}&title={{page.title}}&summary={{page.description}}&source="
        target="_blank" title="Share on LinkedIn">
        <span class="fa-layers fa-fw">
          <i class="fas fa-circle" style="color:Tomato"></i>
          <i class="fa-inverse fas fa-times" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    </li>
    {% endif %} 
    {% if site.share.pinterest %}
    <li class="share-pinterest">
      <a href="http://pinterest.com/pin/create/button/?url{{ site.url | append: page.url }}=&description={{page.description}}"
        target="_blank" title="Pin it">
        <span class="fa-layers fa-fw">
          <i class="fas fa-circle" style="color:Tomato"></i>
          <i class="fa-inverse fas fa-times" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    </li>
    {% endif %} 
    {% if site.share.email %}
    <li class="share-envelope">
      <a href="mailto:?&subject={{page.title}}&body={{page.description | append: ' ' | append: site.url | append: page.url}}" target="_blank"
        title="Email">
        <span class="fa-layers fa-fw">
          <i class="fas fa-square"style="color:gray"></i>
          <i class="fa-inverse fas fa-envelope" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    </li>
    {% endif %} {% if site.share.reddit %}
    <li class="share-reddit">
      <a href="https://reddit.com/submit?url={{ page.url |absolute_url }}" target="_blank" title="Submit to Reddit">
        <span class="fa-layers fa-fw">
          <i class="fas fa-circle" style="color:white;"></i>
          <i class="fab fa-reddit" data-fa-transform="shrink-6" style="color:Tomato"></i>
        </span>
      </a>
    </li>
    {% endif %}
    {% if site.share.bsky %}
      <li class="share-bsky">
        <a href="https://bsky.app/intent/compose?text={{page.title}} — {{ site.url | append: page.url }}" target="_blank" title="Share on BlueSky">
          <span class="fa-layers fa-fw">
            <i class="fa-brands fa-bluesky" style="color:#3b5998;"></i>
            <i class="fa-inverse"></i>
          </span>
        </a>
      </li>
    {% endif %}
    {% if site.share.mastodon %}
      <li class="share-mastodon">
        <a href="https://mastodon.social/share?text={{page.title}} — {{ site.url | append: page.url }}" target="_blank" title="Share on Mastodon">
          <span class="fa-layers fa-fw">
            <i class="fa-brands fa-mastodon" style="color:#3b5998;"></i>
            <i class="fa-inverse"></i>
          </span>
        </a>
      </li>
    {% endif %}
    {% if site.share.tiktok %}
      <li class="share-tiktok">
        <a href="https://www.tiktok.com/share?url={{ site.url | append: page.url }}" target="_blank" title="Share on TikTok">
          <span class="fa-layers fa-fw">
            <i class="fa-brands fa-tiktok" style="color:#3b5998;"></i>
            <i class="fa-inverse"></i>
          </span>
        </a>
      </li>
    {% endif %}
    {% if site.share.whatsapp %}
    <li class="share-whatsapp">
      <a href="whatsapp://send?text={{ page.title }} {{ site.url | append: page.url }}" target="_blank" title="Share on WhatsApp">
        <span class="fa-layers fa-fw">
          <i class="fas fa-circle" style="color:#25D366;"></i>
          <i class="fa-inverse fab fa-whatsapp" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    </li>
    {% endif %} 
    {% if site.share.telegram %}
    <li class="share-telegram">
      <a href="https://telegram.me/share/url?url={{ site.url | append: page.url }}&text={{page.title}}" target="_blank" title="Share on Telegram">
        <span class="fa-layers fa-fw">
          <i class="fas fa-circle" style="color:#0088cc;"></i>
          <i class="fa-inverse fab fa-telegram" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    </li>
    {% endif %} 
    {% if site.share.discord %}
    <li class="share-discord">
      <a href="https://discord.com/share?url={{ site.url | append: page.url }}" target="_blank" title="Share on Discord">
        <span class="fa-layers fa-fw">
          <i class="fas fa-circle" style="color:#7289DA;"></i>
          <i class="fa-inverse fab fa-discord" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    </li>
    {% endif %} 
    {% if site.share.signal %}
    <li class="share-signal">
      <a href="sms:?&body={{ page.title }} {{ site.url | append: page.url }}" target="_blank" title="Share on Signal">
        <span class="fa-layers fa-fw">
          <i class="fas fa-circle" style="color:#3CB371;"></i>
          <i class="fa-inverse fab fa-signal" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    </li>
    {% endif %} 
    {% if site.share.viber %}
    <li class="share-viber">
      <a href="viber://forward?text={{ page.title }} {{ site.url | append: page.url }}" target="_blank" title="Share on Viber">
        <span class="fa-layers fa-fw">
          <i class="fas fa-circle" style="color:#7F00FF;"></i>
          <i class="fa-inverse fab fa-viber" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    </li>
    {% endif %} 
    {% if site.share.copy %}
    <li class="share-copy">
      <a href="javascript:void(0)" onclick="copyToClipboard('{{ site.url | append: page.url }}')" title="Copy to clipboard">
        <span class="fa-layers fa-fw">
          <i class="fas fa-circle" style="color:#000;"></i>
          <i class="fa-inverse fas fa-copy" data-fa-transform="shrink-6"></i>
        </span>
      </a>
    </li>
    {% endif %} 
    <script>
      const shareData = {
        title: "{{ page.title }}",
        text: "{{ page.excerpt }}",
        url: "{{ site.url + '/' + page.url }}",
    };
    
      const btn = document.querySelector("button");
      const resultPara = document.querySelector(".result");
    
      // Share must be triggered by "user activation"
      btn.addEventListener("click", async () => {
        try {
          await navigator.share(shareData);
          resultPara.textContent = "{{ page.title }} shared successfully";
        } catch (err) {
          resultPara.textContent = `Error: ${err}`;
        }
      });
    </script>    
    <li class="share-other">
      <button class="btn text-nowrap">Share this page!</button>
      <p class="result"></p>
    </li>

  </ul>
</div>
</div>
{% endif %}