{% if page.showcase %}
    {% assign showcase = site.data.[page.showcase] %}

    <div class="bulma-content">
        <p>{{ showcase.intro | markdownify }}</p>
    </div>

    {% for item in showcase.items %}
        <section class="bulma-showcase">
            {% if item.image %}
            <figure class="bulma-image {% if item.image_ratio %} {{ item.image_ratio }} {% else %} bulma-is-16by9 {% endif %}">
                <img src="{{ item.image | relative_url }}">
            </figure>
            {% endif %}
            <div class="bulma-showcase-content">
                <div class="bulma-columns">
                    <div class="bulma-column bulma-is-8-desktop bulma-is-12-tablet">
                        <p class="bulma-title">{{ item.title }}</p>
                        <p class="bulma-subtitle">{{ item.subtitle }}</p>

                        {% if item.github %}
                            <div class="bulma-buttons bulma-is-centered bulma-my-4">
                                # TODO: change to dark mode
                                <a href="https://github.com/{{ item.github }}/stargazers"
                                    class="bulma-button bulma-is-black bulma-is-small">
                                    <img alt="GitHub stars"
                                        src="https://img.shields.io/github/stars/{{ item.github }}?style=for-the-badge">
                                </a>
                                <a href="https://github.com/{{ item.github }}/network/members"
                                    class="bulma-button bulma-is-black bulma-is-small">
                                    <img alt="GitHub forks"
                                        src="https://img.shields.io/github/forks/{{ item.github }}?style=for-the-badge">
                                </a>
                                <a href="https://github.com/{{ item.github }}/watchers"
                                    class="bulma-button bulma-is-black bulma-is-small">
                                    <img alt="GitHub watchers"
                                        src="https://img.shields.io/github/watchers/{{ item.github }}?style=for-the-badge">
                                </a>
                            </div>
                        {% endif %}

                        <div class="bulma-content">
                            <p>{{ item.description | markdownify }}</p>
                        </div>

                        {% if item.features %}
                            <ul class="list-group bulma-is-dark {{ item.features_styles }}">
                                {% for feature in item.features %}
                                    <li class="bg-dark list-group-item">{{ feature }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if item.tags %}
                            {% assign tags = item.tags | split: ',' %}
                            <div class="bulma-tags bulma-is-centered bulma-my-4">
                                {% for tag in tags %}
                                    {% include tag.html tag=tag style="bulma-is-dark" %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="bulma-my-4 bulma-buttons bulma-is-centered">
                            <a href="{{ item.link }}" class="bulma-button bulma-is-primary">
                                {{ item.link_text }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
{% endif %}
