---
---
@import "bootstrap.scss";
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

//********************************************************
//                    Variables
//********************************************************
// Several accent colors, choose one or create your own!
//$accent-color: #3CA2A2; // original =)
//$accent-color: #C38FD6;  // velvet
$accent-color: #8FD6B3; // greenish
//$accent-color: #35B4DE;  // bluish
//$accent-color: #D2E354;  // yellowish
//$accent-color: #52B54B;  // green
$font-color: #dddddd;
$background-color: #292929;
$post-panel-color: #444;
$footer-background-color: #292c2f;
$note-color: #87CEFA;
$warning-color: #ffff00;
// use this or pick any from /css/pics/background folder or from transparenttextures.com
$background-pattern: '3px-tile.png';
//********************************************************
//                  Common styles
//********************************************************
body {
  color: $font-color;
  background-color: $background-color;
  background-image: url("/assets/css/pics/background/#{$background-pattern}");
}

.well {
  background-color: $post-panel-color;
  box-shadow: 0 0 0 0, 0px 8px 16px rgba(63, 63, 63, 0.2);
  border: 0;
  border-radius: 6px;
}
.toc-well {
  border-style: solid;
  border-width: 5px;
  border-color: #666666;
}
.main-page {
  width: 75%;
}

sub {
  line-height: 1;
}

sup {
  line-height: 1;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.12em;
}

h5 {
  font-size: .83em;
}

h6 {
  font-size: .75em;
}

span.badge {
  white-space: normal !important;
  text-align: center !important;
}
img {
  display: inline-block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

img+em {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

blockquote {
  color: #bbb;
  font-size: 1em;
}

a {
  color: $accent-color;
  &:hover {
    color: darkgreen;
    text-decoration: none;
  }
  &:visited {
    color: green;
    text-decoration: none;
  }
}

//********************************************************
//                    Social Links
//********************************************************
ul.social-media {
  text-align: center;
  padding: 0 0 10px 0;
  li {
    display: inline-block;
  }
  li>a {
    width: 45px;
    height: 45px;
    @include transition(color 0.2s);
    display: inline-block;
    color: white;
    &:hover {
      color: $accent-color;
    }
  }
}

//********************************************************
//                    Share
//********************************************************
.share-bar {
  text-align: left;
  position: fixed;
  top: 50%;
  margin-right: 100%;
  margin-left: 0%;
  left: 0;
  z-index: 10;
}

ul.share-buttons {
  list-style: none;
  margin-right: 100%;
  margin-left: 0;
  padding: 0;
  li {
    a {
      text-decoration: none;
    }
  }
  li.share-facebook {
    color: #3B5998;
  }
  li.share-twitter {
    color: #55acee;
  }
  li.share-google-plus {
    color: #dd4b39;
  }
  li.share-linkedin {
    color: #4875B4;
  }
  li.share-pinterest {
    color: #BD081C;
  }
  li.share-envelope {
    color: #3B5998;
  }
  li.share-reddit {
    color: tomato;
  }
  li:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
  }
}

//********************************************************
//                  Breadcrumbs
//********************************************************
//ol.breadcrumb {
//}
//********************************************************
//                    Sidebar
//********************************************************
.sidebar li {
  margin-top: .7em;
  line-height: 1em;
}

ul.sideBarTags {
  list-style: none;
  list-style-type: none;
  li:before {
    content: '\f02b';
    display: none;
    font-family: 'Font Awesome 5 Solid';
    margin-left: -1.5em;
  }
}

//********************************************************
//                    Post
//********************************************************
h2.post-title {
  padding-top: 10px;
  text-align: left;
}

div.post-meta {
  border-width: 1px 0;
  border-color: #666666;
  border-style: solid;
  margin: 0 0 20px;
  ul {
    display: inline;
    padding-left: 5px;
  }
  ul>li {
    display: inline;
    padding: 0 10px 5px 10px;
  }
  .post-time {
    display: inline;
    padding-right: 10px
  }
}

.post-footer {
  height: 40px;
  display: table;
  width: 100%;
  position: relative;
  margin-top: 32px;
  text-align: center;
}

//********************************************************
//                    Note / Warning
//********************************************************
.note {
  position: relative;
  border: 0;
  padding-left: 30px;
}

.note:before {
  content: "\f06a";
  font-size: 2em;
  font-family: 'Font Awesome 5 Solid';
  left: 0px;
  position: absolute;
  top: 0;
  color: $note-color;
}

.warning:before {
  content: "\f071";
  color: $warning-color;
}

//********************************************************
//                    Header
//********************************************************
nav a {
  @include transition(color 0.31s);
  font-size: 18px;
  font-family: Ubuntu;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

nav.navbar {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

nav.navbar.shrink {
  min-height: 15px;
}

.navbar-brand {
  font-size: 30px;
  color: $accent-color;
}

nav.shrink a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 15px;
}

nav.shrink .navbar-brand {
  font-size: 20px;
  height: inherit;
}


//********************************************************
//                    Footer
//********************************************************
.footer {
  text-align: center;
}

.footer-distributed {
  background-color: $footer-background-color;
  font: normal 16px sans-serif;
  padding: 20px 25px;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  top: 100%;
  bottom: 0;
}

iframe#follow.followme {
  width: 100%;
  height: 100%;
}

//********************************************************
//            Table of content (work in progress)
//********************************************************
//********************************************************
//       Custom classes to apply to block elements,
//  more info: http://pavelmakhov.com/2015/12/images-in-jekyll
//********************************************************
.key {
  font-size: 1.0em;
  box-shadow: 1px 0 1px 0 #555, 0 1px 0 2px #888, 0 2px 0 2px #777;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 2px 3px;
  padding: 0px 5px;
}

.center-image {
  margin: 0 auto;
  display: block;
}

.filename {
  padding: 0px;
  margin: 0px;
  background-color: #292929;
  color: lightgrey;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 0px;
  padding-left: 1em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  border-left: 0px;
  bottom: -2px;
  position: relative;
  padding-bottom: 2px;
}

//********************************************************
@media (min-width: 1000px) {
  .footer-distributed .footer {
    text-align: center;
  }
  .footer-distributed .footer {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer {
    line-height: 1;
  }
}

img#nixstats {
  height: 40px;
  width: 40px;

}

.bg-dark-gray {
  background-color: #292929
}

.dropdown-item:hover {
  background-color: #292c2f

}