---
layout: default
---
{{ content }}

<div class="bulma-columns bulma-is-multiline">
    <div class="bulma-column bulma-is-12">
        {% include pagination.html %}
    </div>
    {% for post in paginator.posts %}
        <div class="bulma-column bulma-is-12">
            {% include post-card.html %}
        </div>
    {% endfor %}
    <div class="bulma-column bulma-is-12">
        {% include pagination.html %}
    </div>
    <div class="bulma-column bulma-is-12">
        {% include subscribe.html %}
    </div>
</div>
