{% include header.html %}
<div class="wrapper">
    <div class="content" id="content-div">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 d-inline-block">
                    <div id="breadcrumbs">
                        {% include nav-breadcrumbs.html %}
                    </div>

                    <div class="well px-1 py-1 p-sm-2">
                        {{ content }}
                    </div>
                </div>
                <div id="sidebar" class="col-md-4 d-sm-block d-xs-block d-md-block">
                    {% include sidebar.html %}
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}
</div>
</div>

</body>

</html>