{% include header.html %}
<div class="wrapper" style="top: 120;">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <div class="well p-2 p-sm-2">
                        {{ content }}
                    </div>
                </div>
                <div class="col-4 hidden-xs hidden-sm">
                    {% include sidebar.html %}
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}
</div>
</body>

</html>