---
layout: page
---

<div class="bulma-card bg-dark text-light">
    <div class="bulma-card-header">
        <h2>{{ page.title }} &mdash; <span>{{ page.category }}</span></h2>
    </div>

    <div class="bulma-card-body">
        <h5>About</h5>
        <div class="bulma-card-subtitle">
            <p>{{ page.description | newline_to_br }}</p>
        </div>

        <h5>Software/Languages Used</h5>
        <ul>
            {% for technology in page.technology %}
            <li><a>{{ technology.name }}</a> &ndash; <span>{{ technology.type }}</span></li>
            {% endfor %}
        </ul>
        <h5>Related Links</h5>
        <div class="bulma-buttons bg-dark">
            {% for link in page.links %}
            <a class="bulma-button bulma-button-dark" role="button" href="{{ link.url }}">{{link.title}}</a>

            {% endfor %}
        </div>
    </div>
</div>
